header {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
}
#Contact-text{
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}
#relation-text{
    font-family: 'Apercu', sans-serif;
}
#text-2 {
    font-family: 'Apercu', sans-serif;
}
#text-3 {
    font-family: 'Apercu', sans-serif;
}
#text-4 {
    font-family: 'Apercu', sans-serif;
}
#text-5 {
    font-family: 'SF Pro Display', sans-serif;
}